layout {
    tab name="$PWD" hide_floating_panes=true {
        floating_panes {
            pane x="6%" y="3%" width="88%" height="88%" command="bash"
        }
        pane split_direction="vertical" {
            pane size="65%" command="bash"
            pane command="bash"
        }
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left "#[bg=108,fg=black][{session}]  {tabs}"
                format_right "#[bg=108,fg=black]{datetime} "
                format_space "#[bg=108]"
                tab_normal "{name}  "
                tab_active "{name}* "
                datetime "{format}"
                datetime_format "%Y-%m-%d %H:%M"
                datetime_timezone "Asia/Tokyo"
            }
        }
    }
    tab name="$PWD2" hide_floating_panes=true {
        floating_panes {
            pane x="6%" y="3%" width="88%" height="88%" command="bash"
        }
        pane split_direction="vertical" {
            pane size="65%" name="#0" command="bash"
            pane split_direction="horizontal" {
                pane name="#1" size="45%"
                pane name="#2" size="45%"
                pane name="#3" size="10%"
            }
        }
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left "#[bg=108,fg=black][{session}]  {tabs}"
                format_right "#[bg=108,fg=black]{datetime} "
                format_space "#[bg=108]"
                tab_normal "{name}  "
                tab_active "{name}* "
                datetime "{format}"
                datetime_format "%Y-%m-%d %H:%M"
                datetime_timezone "Asia/Tokyo"
            }
        }
    }
    tab name="$HOME" cwd="$HOME" hide_floating_panes=true {
        floating_panes {
            pane x="6%" y="3%" width="88%" height="88%" command="bash"
        }
        pane split_direction="vertical" {
            pane size="65%" command="bash"
            pane command="bash"
        }
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left "#[bg=108,fg=black][{session}]  {tabs}"
                format_right "#[bg=108,fg=black]{datetime} "
                format_space "#[bg=108]"
                tab_normal "{name}  "
                tab_active "{name}* "
                datetime "{format}"
                datetime_format "%Y-%m-%d %H:%M"
                datetime_timezone "Asia/Tokyo"
            }
        }
    }
    tab name="$HOME2" cwd="$HOME" hide_floating_panes=true {
        floating_panes {
            pane x="6%" y="3%" width="88%" height="88%" command="bash"
        }
        pane split_direction="vertical" {
            pane size="65%" name="#0" command="bash"
            pane split_direction="horizontal" {
                pane name="#1" size="45%"
                pane name="#2" size="45%"
                pane name="#3" size="10%"
            }
        }
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left "#[bg=108,fg=black][{session}]  {tabs}"
                format_right "#[bg=108,fg=black]{datetime} "
                format_space "#[bg=108]"
                tab_normal "{name}  "
                tab_active "{name}* "
                datetime "{format}"
                datetime_format "%Y-%m-%d %H:%M"
                datetime_timezone "Asia/Tokyo"
            }
        }
    }
}
